body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 43, 43);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
}

#dos{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0px;
    padding: 0px;
    width:100%;
    height: 85.8vh;
    background:linear-gradient(rgb(173, 179, 184), rgb(97, 97, 97),rgb(70, 69, 69),rgb(51, 51, 51));
}
.no{
    position: fixed;
    z-index: 1000;
}
.tres{
    cursor: pointer;
    position: fixed;
    background: rgb(43, 43, 43);
    color: wheat;
    width: 97.8%;
    height: 8.2vh;
    display: flex;
    padding: 0px 15px ;
    justify-content: space-between;
    align-items: center;
}
.md{
    display: flex;
    font-size: 145%;
    gap: 10%;
    align-items: center;
    flex: 1.5;
    justify-content: center;
    color: rgb(202, 186, 202);
}
.rht{
    display: flex;
    font-size: 145%;
    gap: 7.5px;
    align-items: center;
}
.rht li{
    border-radius: 50px;
    background: rgba(94, 94, 94, 0.521);
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 0.3s inset;
    color: rgba(255, 255, 255, 0.849);
}
li:hover{
    background: rgb(94, 94, 94);
}
#ax{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    display: flex;
}

.lft{
    margin: 5px;
    font-size: 239%;
    display: flex;
    align-items: center;
    gap: 3px;
}
.lft a{
    color: rgb(24, 119, 242);
    background-color: white; 
    border-radius: 50%;
    width: 38px;
    height: 37px;
}
#fbok{
    position: relative;
    left: -5px;
    bottom: 2.3px;
}
li{
    list-style: none;
}
.container{
    width: 100%;
    height: 100%;
}
#srch{
    border-radius: 20px;
    height: 40px;
    width: 100%;
    background-color: rgba(117, 117, 117, 0.404);
    border: none;
}
#cvr{
    width: 138vh;
    height: auto;
    padding-bottom: 9.80%;
    padding-left: 12.30%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    justify-content: center;
}
#pfp{
    width: 169px;
    position:relative;
    right: 67%;
    bottom: -22%;
    border: 3px solid rgb(70, 69, 69);
    border-radius: 100px;

}
#btn{
    position: absolute;
    right: 17.5%; 
    top: 51%;
    width: 11%;
    height: 5.5%;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 545;
    cursor: pointer;
}
.pht{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bot{
    align-items: center;
    position: absolute;
    bottom: 12.4%;
    left: 17.5%;
    gap: 29px;
    font-size: 15px;
    font-weight: 550;
    border-top: .2px solid white;
    width: 62%;
    height: 6%;
    display: flex;
    padding-top: 5px;
    color: rgb(206, 196, 206);
}
.bot li{
    position: relative;
    left: -2.5%;
    top: 3.8%;
    
}
.btnn{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.3%;
    height: 87%;
    border: none;
    border-radius: 5px;
    font-size: 40px;
    margin-left: 29%;
    background: rgb(70, 70, 70);
    font-size: medium;
    color: white;
}
.nam{
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 24.2%;
    left: 31.5%;
    margin: 0;
    font-family:Arial;
    color: white;
}
.nam h2{
    font-size: 32px;
    font-weight: 610;
    margin-bottom: 0px;
    padding-bottom: -12%;
}
.nam p{
    font-size: 15px;
    margin-top: 2%;
    font-weight: 530;
    color: rgb(206, 196, 206);
}
.st{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    bottom: 26%;
    left: 63%;
    gap: 3.5%;
    
}
#add{
    background-color: rgb(5, 118, 184);
    border: none;
    border-radius: 5px;
    color: white;
    width: 134px;
    height: 36px;
    font-size: medium;
    font-weight: 540;
}
#edit{
    background-color: rgb(70, 69, 69);
    color: white;
    font-size: medium;
    border: none;
    border-radius: 5px;
    width: 134px;
    height: 36px;
    font-weight: 540;
}
.uno div{
    background-color: rgb(59, 59, 59);
    color: rgb(0, 0, 0);
    border-radius: 10px; 
    
}
.uno{  
    justify-content: flex-end;
    align-items: top;
    width: 88.5%;
    height: 100vh;
    margin-top: 2.4%;
    display: grid;
    grid-template-columns: repeat(1 , 60%);
    grid-template-rows: repeat(2 , 50%);
}
.dus div{
    width: 500px;
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
}
.dus{
    display: top;
    margin-top: 2.4%;
    align-items: top;
    justify-content: flex-start;
    height: 100vh;
    margin-left: -9%;

}
.isa{
    margin-bottom: 10px;
    height: 126.3%;
    border: none;
}
.dalwa{
    margin-top: 108px;
    height: 119%;
}
.tatlo{
    margin-top: 190px;
    height: 540px;
}
.nw{
    display: grid;
    grid-template-columns: repeat(2 , 50%);
    grid-template-rows: repeat(2 , 50%)
}
.apat{
    height: 18.3%;
}
.lima{
    height: 13.5%;
    color: rgb(206, 196, 206);
}
.anim{
    height: 64%;
    margin-top: 2%;
    
}
/* .pito{
    height: 65.2%;
    margin-top: 2%;
}
.walo{
    height: 65.2%;
    margin-top: 2%; 
} */
.post{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.post2 ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12px;
    margin-left: 18px;
    font-size: 15px;
    font-weight: 550; 
    border-top: 1px solid rgba(255, 255, 255, 0.856);
    width:85%;
    height: 10px;
}
.post2 li{
    color: rgba(255, 255, 255, 0.507);
    margin-top: 12%;
    margin-right: 20px;
}
#ax2{
    width: 8%;
    border-radius: 50%;
    margin-left: 3.3%;
    margin-top: 2.2%;
}
#src2{
    width: 83%;
    height: 38px;
    margin-left: 2%;
    margin-top: 2%;
    border: none;
    border-radius: 20px;
    font-size: 17px;
    background-color: rgb(117, 117, 117, 0.404);
}
#vid{
    color: red;
    font-size: 23px;
    margin-right: 7px;
    position: relative;
    bottom: -1px;
}
#phot{
    color: rgb(55, 175, 55);
    font-size: 23px;
    margin-right: 5px;
}
#flag{
    color: rgb(95, 95, 218);
    font-size: 23px;
    margin-right: 5px;
}
#phot2{
    margin-right: 24px;
}
#vid2{
    margin-left: -30px;
}
#intro{
    color: rgb(231, 223, 231);
    font-size: 20px;
    margin-left: 15px;
}
#bio{
    border: none;
    width: 92%;
    margin-left: 15px;
    border-radius: 8px;
    height: 8.3%;
    font-size: 15px;
    font-weight: 550;
    color: rgb(206, 196, 206);
    background-color:rgb(117, 117, 117, 0.404) ;
}
#details{
    border: none;
    width: 92%;
    margin-left: 15px;
    border-radius: 8px;
    margin-top: 22px;
    height: 8.3%;
    font-size: 15px;
    font-weight: 550;
    color: rgb(206, 196, 206);
    background-color:rgb(117, 117, 117, 0.404) ;
}
#edit2{
    border: none;
    width: 92%;
    margin-left: 15px;
    border-radius: 8px;
    margin-top: 27px;
    height: 8.3%;
    font-size: 15px;
    font-weight: 550;
    color: rgb(206, 196, 206);
    background-color:rgb(117, 117, 117, 0.404) ;
}
#poc{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 7px;
}
#poc img{
    width: 28%;
    height: 180px;
    border-radius: 10px;
}
.bnd{
    
    display: grid;
    grid-template-columns:108px 108px 108px;
    grid-template-rows:108px 108px 108px;
    gap: 3px;
    align-items: center;
    justify-content: center;
}
.bnd img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    
}
.ph{
    display: flex;
    font-size: 12.5px;
    justify-content: space-between;
    margin-left: 15px;
}
#all{
    font-size: 17.5px;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 12.5px;
    color: rgb(100, 100, 255);
    border-radius: 10px;
    
}
#all:hover{
    background-color: rgb(92, 91, 91);
    height: 30px;
}
.pst ul{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid white; 
}
.pst li{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:  rgb(92, 92, 88);
    height: 34px;
    margin-top: -40px;
    margin-right: 16px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
}
#mng{
    width: 30%;
}
#flt{
    width: 19%;
    margin-right: 8.5px;
}
#pss{
    margin-left: 3%;
    padding-top: 14.5px;
    margin-bottom: -5px;
}
.btn3{
    justify-content: center;
    display: flex;
    gap: 150px ;
    margin-left: -37px;
}
.pcc{
    width: 8%;
    border-radius: 50%;
    margin-left: 2.5%;
    margin-top: 2.2%;
}
.last{
    font-weight: 540;
    color: rgb(206, 196, 206);
    min-width: 10px;
    margin-left: 19px;
    margin-top: -40px;
    font-size: 14.5px;
    width: 17%;
}
.lii{
    margin-top: 4px;
    font-size: 12.5px;
}
.bttn{
    position: relative;
    top: -55px;
    left: 90%;
    background-color: rgb(59, 59, 59);
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    transition: 0.3s;
    color: rgb(206, 196, 206);
}
.bttn:hover{
    background-color: rgb(49,49,49);
}
.rew{
    color: rgb(25, 154, 206);
    text-decoration: none;
    font-size: 14.5px;
    margin-top: -60px;
    margin-left:12px;
    align-items: top;
    display: flex;
    font-weight: 600;
    font-family: sans-serif;
}
#feww{
    border: 1px solid black;
    width: 95%;
    margin-left: 12px;
    border-radius: 0px;
    height: 68px;
    margin-top: -4px;
}
#fewww{
    border: 1px solid black;
    width: 95%;
    margin-left: 12px;
    border-radius: 0px;
    height: 68px;
    margin-top: -4px;
}
#fewwww{
    border: 1px solid black;
    width: 95%;
    margin-left: 12px;
    border-radius: 0px;
    height: 68px;
    margin-top: -4px;
}
.frew{
    font-size: 15.5px;
    margin-top: -35px;
    margin-left: 45px;
    color: rgb(206, 196, 206);
}
.drew{
    font-size: 13px;
    margin-left: 47px;
    margin-top: -17px;
    color: rgb(206, 196, 206);
}
#bntn{
    display: flex;
    justify-content: space-around;
    height: 30px;
    margin-top: 43px;
}
.like{
    font-size: 15px;
    font-weight: 600;
    width: 50%;
    background-color: rgb(59, 59, 59);
    border: none;
    color: rgb(206, 196, 206);
    margin-left: 3.5px;
}
.like:hover{
    background-color:rgb(49,49,49) ;
}
#bntnn{
    display: flex;
    justify-content: space-around;
    height: 30px;
    margin-top: 43px;
}
#bnttn{
    display: flex;
    justify-content: space-around;
    height: 30px;
    margin-top: 43px;
}
.rowr{
    color:rgb(206, 196, 206);
    font-size: 14.8px;
    font-weight: 550;
    margin-left: 15px;
    margin-top: 10px;
}
.pdf{
    width: 6.5%;
    border-radius: 100%;
    margin-left: 10.3px;
}
#pip{
    background-color: rgb(79,79,79);
    width: 28%;
    height: 50px;
    margin-left: 10%;
    margin-top: -10%;
    border-radius: 18px;
    display: block;
}
#pipo{
    background-color: rgb(79,79,79);
    width: 37%;
    height: 50px;
    margin-left: 10%;
    margin-top: -10%;
    border-radius: 18px;
    display: block;
}
#piip{
    background-color: rgb(79,79,79);
    width: 23%;
    height: 50px;
    margin-left: 10%;
    margin-top: -10%;
    border-radius: 18px;
    display: block;
}
.nye{
    font-size: 12.5px;
    padding-top: 8px;
    padding-left: 10px;
    color: rgb(206, 196, 206);
}
.nyah{
    font-size: 14.5px;
    margin-top: -10px;
    margin-left: 10px;
    color:rgb(206, 196, 206);
}
#nmb{
    display: block;
    margin-top: 22px;
    font-size: 23px;
    margin-left: 8px;
    color: rgb(206, 196, 206);
    font-weight: 600;
}
#nnmb{
    display: block;
    margin-top: 22px;
    font-size: 23px;
    margin-left: 8px;
    color: rgb(206, 196, 206);
    font-weight: 600;
}
#nmbb{
    display: block;
    margin-top: 22px;
    font-size: 23px;
    margin-left: 8px;
    color: rgb(206, 196, 206);
    font-weight: 600;
}
.ply{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 12px;
    margin-left: -310px;
    margin-top: 8px;
    color: rgb(206, 196, 206);
}
#ploy{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mbg{
    width: 25px;
    border-radius: 50%;
    margin-left: 58px;
    margin-top: 3px;
}
.bn10{  
    text-decoration: none;
    color: rgb(206, 196, 206);
    font-size: 14.5px;
}
#bnn9{
    display: block;
    width: 70%;
    margin-left: 90px;
    margin-top: -25px;
}
#bnn10{
    display: block;
    width: 70%;
    margin-left: 90px;
    margin-top: -25px;
}
#bnn11{
    display: block;
    width: 70%;
    margin-left: 90px;
    margin-top: -25px;
}
.picnnmn{
    width: 30px;
    border-radius: 50%;
    margin-left: 12px;
    margin-top: 20px;
}
.prch{
    width: 88%;
    height: 35px;
    border-radius: 20px;
    border: none;
    display: block;
    margin-top: -37px;
    margin-left: 47px;
    background-color: rgb(79,79,79);
}
.css{
    display: flex;
    gap: 8px;
    color: rgb(206, 196, 206);
    margin-top: -25px;
    margin-left: 306px;
}
.trx{
    display: flex;
    color: rgb(206, 196, 206);
    margin-top: -265px;
    margin-left: 420px;
    gap: 3px;
    font-size: 15px;
}
#lstt{
    display: grid;
    grid-template-columns:108px 108px 108px;
    grid-template-rows:145px 145px 145px;
    gap: 6px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.rtr{
    width: 103px;
    height: 105px;
    border-radius: 10px;
}
#ndd{
    display: grid;
    grid-template-columns:110px 105px 105px;
    grid-template-rows:145px 156px 153px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: -386px;
    height: 210px;
    font-size: 12px;
    color: rgb(206, 196, 206);
}
#h3{
    color: rgb(206, 196, 206);
    margin-left: 10px;
    font-weight: 600;
    margin-bottom: 0%;
}
#p1{
    font-size: medium;
    margin-left: 10px;
    margin-top: 7px;
    color: rgb(206, 196, 206);
    margin-bottom: 0%;
}
#aaa{
    text-decoration: none;
    color: rgb(100, 100, 255);
    margin-left: 234px;
    margin-top: -50px;
    display: block;
    font-size: 18.3px;
}
#lastsoper{
    display: flex;
    position: absolute;
    left: 198px;
    font-size: 12.5px;
    margin-top: -158px;
    color: rgb(206, 196, 206);
}